<div>
  <h2>Information générale</h2>
  <div>
    <label for="pseudo">Pseudo</label>
  </div>
  <div>
    <input type="text" name="pseudo" />
  </div>

  <div class="row">
    <div class="col-md-5">
      <label for="lastname">Nom</label>
    </div>
    <div>
      <input type="text" name="lastname" />
    </div>

    <div class="col-md-5">
      <label for="firstname">Prénom</label>
    </div>
    <div>
      <input type="text" name="firstname" />
    </div>
  </div>

  <h2>Sécurité (Changement de mot de passe)</h2>
  <div>
    <label for="PasswordCurrent">Mot de Passe Actuel</label>
  </div>
  <div>
    <input type="password" name="PasswordCurrent" />
  </div>

  <div>
    <label for="PasswordNew">Nouveau Mot de Passe</label>
  </div>
  <div>
    <input type="password" name="PasswordNew" />
  </div>

  <div>
    <label for="PasswordNewConfirm">ConfirmationNouveau Mot de Passe</label>
  </div>
  <div>
    <input type="password" name="PasswordNewConfirm" />
  </div>

</div>