<div style="overflow: auto;height: 100vh;">
    <div style="height: auto;">
        <ngb-carousel #carousel [interval]="6000" [pauseOnHover]="pauseOnHover"> //(slide)="onSlide($event)"
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="carousel-caption" style="color: white;">
                    <h3 style="color: white;">My slide {{i + 1}} title</h3>
                </div>
                <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                    <div class="picsum-img-wrapper">
                        <img [src]="img" alt="My image {{i + 1}} description" style="    max-height: 40vh;">
                    </div>
                </a>
            </ng-template>
        </ngb-carousel>
    </div>


    <div class="weigthShows">
        <div class="container-fluid" style="height: 100%;">
            <h3>Top Série</h3>

            <div class="row flex-nowrap col-md-12" style="height: 85%;">
                <div class="col-1 row placeListOfShow" *ngFor="let show of showTop"
                    [attr.data-idShow]="show.id"
                    (mouseenter)='ShowsDetail($event)' (mouseleave)='ShowsDetailLeave($event)'
                    (click)='DiscoverShow($event)'>

                    <div class="card card-block col-md-12 placeimg">
                        <img [ngClass]="(isLoadingShowTop==true)?'PosterImage posterLoading':'PosterImage posterLoaded'"
                            src="{{show.poster_path}}" alt="">
                    </div>

                    <div class="col-md-8" style="display: none;">
                        {{show.title}} ({{show.original_title}}) <p class="detailShow">
                            {{show.description}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="weigthShows">
        <div class="container-fluid" style="height: 100%;">
            <h3>Top Série Week</h3>

            <div class="row flex-nowrap col-md-12" style="height: 85%;">
                <div class="col-1 row placeListOfShow" *ngFor="let show of showTop"
                    [attr.data-idShow]="show.id"
                    (mouseenter)='ShowsDetail($event)' (mouseleave)='ShowsDetailLeave($event)'
                    (click)='DiscoverShow($event)'>

                    <div class="card card-block col-md-12 placeimg">
                        <img [ngClass]="(isLoadingShowTop==true)?'PosterImage posterLoading':'PosterImage posterLoaded'"
                            src="{{show.poster_path}}" alt="">
                    </div>

                    <div class="col-md-8" style="display: none;">
                        {{show.title}} ({{show.original_title}}) <p class="detailShow">
                            {{show.description}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div style="height:20vh;">

    </div>
</div>