<div class="form-box">
    <div class="form-top">
        <div class="form-top-left">
            <h3>Login</h3>
            <p>Enter username and password to log on:</p>
        </div>
        <div class="form-top-right">
            <i class="fa fa-key"></i>
        </div>
    </div>
    <div class="form-bottom">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
            <div class="form-group">
                <label class="sr-only" for="form-login-email">Email</label>
                <input type="text" name="form-login-email" placeholder="Email..." formControlName="emailLogin" class="form-login-email form-control" [ngClass]="{ 'is-invalid': submitted && fL.emailLogin.errors }" id="form-login-email">
                <div *ngIf="submitted && fL.emailLogin.errors" class="invalid-feedback">
                    <div *ngIf="fL.emailLogin.errors.required">email is required</div>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="form-login-password">Password</label>
                <input type="password" name="form-login-password" placeholder="Password..." formControlName="passwordLogin" class="form-login-password form-control" [ngClass]="{ 'is-invalid': submitted && fL.passwordLogin.errors }" id="form-login-password">
                <div *ngIf="submitted && fL.passwordLogin.errors" class="invalid-feedback">
                    <div *ngIf="fL.passwordLogin.errors.required">Password is required</div>
                </div>
            </div>

            <article class="form-group">
                <button [disabled]="loadingLogin" class="btn"> 
              <span *ngIf="loadingLogin" class="spinner-border spinner-border-sm mr-1"></span>
             Login!
          </button>
            </article>

            <article class="text-center">
                <a routerLink="/" class="btn btn-link">Forgot Password</a>
            </article>
        </form>
    </div>
</div>