<div style="padding:7vh 0 12vh 0;color:white;">
    <div>
        <div #headerSerieDescription style="position: absolute;top:0;left: 0;right: 0;z-index:1; opacity: 0.6;
        filter: alpha(opacity=60)"></div>
        <div>

        </div>
        <div style="z-index: 2;">
            <div>
                <img src="{{urlImagesFront}}" alt="">
            </div>
            <div>
                <div>{{showCurrent.name}}</div>
                <div>Synopsis et détaillés</div>
                <div>{{showCurrent.overview}}</div>
                <div>
                    <div>
                        <div>
                            <div>{{director}}</div>
                            <div>Réalisateur</div>
                        </div>
                        <div>
                            <div>{{coDirector}}</div>
                            <div>Co-Réalisateur</div>
                        </div>

                        <div>
                            <h4>Nationalié</h4>
                            <div>
                                <a>{{origins}} </a>
                            </div>
                        </div>

                    </div>

                    <div>
                        <div>
                            <h4>Chaine d'origine</h4>
                            <div>{{networks}}</div>
                        </div>

                        <div>
                            <h4>Genre</h4>
                            <div>
                                <a>{{genres}} </a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div></div>
    <div></div>
</div>