/* CSS pour la navigation */

.dropdown-item{
    cursor: pointer;
}

.dock-container {
    position: fixed;
    bottom: 0;
    right: 30%;
    left: 30%;
    width: 40%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 0 0;
    background: #9240b2;
    height: auto;
}

.dock-container li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    /* margin: 0 5%; */
    float: left;
    padding: 0 4%;
}

.dock-container li img {
    width: 60px;
    height: 60px;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, .5)));
    -webkit-transition: all 0.3s;
    -webkit-transform-origin: 50% 100%;
    background: #9240b2;
    border-radius: 5px;
}

.dock-container li:hover img {
    -webkit-transform: scale(2);
    margin: 0 1%;
}

.dock-container li:hover+li img,
.dock-container li.prev img {
    -webkit-transform: scale(1.5);
    margin: 0 1.5em;
}

.dock-container li span {
    display: none;
    position: absolute;
    bottom: 140px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255);
    padding: 4px 0;
    border-radius: 25px;
}

.dock-container li:hover span {
    display: block;
    color: rgba(0, 0, 0, 0.75);
}

.buttonNeltivi1 {
    margin: auto;
    padding: 5px 0;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
}

.buttonNeltivi1:hover {}

.buttonNeltivi1:focus {}

.BtnSearchNELTIVI {
    background: #273b7b;
    border-radius: 25px;
    height: 40px;
    width: 350px;
}