<!-- main app container -->
<div class="" style="background: linear-gradient(180deg, rgb(26,38,114) 0%, #9240b2 70%);">
    <router-outlet></router-outlet>
</div>

<div class="dock-container">
    <nav class="dock">
        <ul>
            <li>
                <span i18n>Series</span>
                <a href="series"><img src="../assets/Images/Menu/monitor (1).png" /></a>
                <!-- <h2><a  rel="noopener" href="series" i18n>Series</a></h2> -->
            </li>

            <li>
                <span i18n>Films</span>
                <a href="films"><img src="../assets/Images/Menu/music-and-multimedia.png" /></a>
                <!-- <h2><a rel="noopener" href="films" i18n>Films</a></h2> -->
            </li>

            <li *ngIf="_currentUserAllRoles">
                <span i18n>Coming Soon</span>
                <a href="ComingSoon"><img src="../assets/Video-icon.png" /></a>
                <!-- <h2><a rel="noopener" href="ComingSoon" i18n>Coming Soon</a></h2> -->
            </li>

            <li *ngIf="_currentUserAllRoles">
                <span i18n>To watch</span>
                <a href="ToWatch"><img src="../assets/Video-icon.png" /></a>
                <!-- <h2><a rel="noopener" href="ToWatch" i18n>To watch</a></h2> -->
            </li>

            <li *ngIf="_currentUserAllRoles" (click)="logout($event)">
                <span i18n>{{this._currentUserAllRoles.email}}</span>
                <a><img src="../assets/Video-icon.png" /></a>
                <!-- <h2><a rel="noopener" href="profile">{{this._currentUserAllRoles.email}}</a></h2> -->
            </li>

            <li *ngIf="_currentUserAllRoles">
                <span i18n>Settings</span>
                <a href="settings"><img src="../assets/Video-icon.png" /></a>
                <!-- <h2><a rel="noopener" href="settings" i18n>Settings</a></h2> -->
            </li>

            <li *ngIf="!_currentUserAllRoles">
                <span i18n>Connection</span>
                <a href="connect"><img style="background:#9240b2;" src="../assets/Images/Menu/signs.png" /></a>
                <!-- <h2><a  rel="noopener" href="connect" i18n>Connection</a></h2> -->
            </li>
        </ul>
    </nav>
</div>