<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: rgb(26,38,114);">
    <a class="navbar-brand" routerLink="" style="padding-left:5%;"><img src="../assets/Images/Logo/Logo_NTV.png" alt=""
            height="40"></a>
    <button class="navbar-toggler hidden-sm-up" type="button" data-target="#navbarsDefault"
        aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">

        <div>
            <input class="BtnSearchNELTIVI" type="text" name="" placeholder="Rechercher vos films préférés"
                (input)="Search($event);">
            <div #BodySearch
                style="display:none;position: absolute;background:black;color:white;height: 90vh;width: 80vw;border-radius:0 30px;">
                <div style="height: 50%;min-height: 50%;">
                    <h2>FILMS</h2>
                    <div class="row flex-nowrap col-md-12" style="height: 70%">
                        <div class="col-1" *ngFor="let film of MoviesQuery"
                            style="margin-right: 4px;padding-right: 0;cursor: pointer;margin-right: 20px;"
                             (click)='GoDetailMovie($event)' [attr.data-filmId]="film.id">
                            <div class="card card-block" data-id="{{film.id}}"
                                style="height: auto;width: 100%;border:0px solid black;background: transparent;">
                                <img src="{{film.poster_path}}" alt="" style="border-radius: 15px;">
                                <h5>{{film.title}}</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="height: 50%;min-height: 50%;">
                    <h2>Series</h2>
                    <div class="row flex-nowrap col-md-12" style="height:70%">
                        <div class="col-1" *ngFor="let serie of SerieQuery"
                            style="margin-right: 4px;padding-right: 0;cursor: pointer;margin-right: 20px;"
                            (click)='GoDetailShow($event)'   [attr.data-serieId]="serie.name">
                            <div class="card card-block" data-id="{{serie.id}}"
                                style="height: auto;width: 100%;border:0px solid black;background: transparent;">
                                <img src="{{serie.poster_path}}" alt="" style="border-radius: 15px;">

                                <h5>{{serie.name}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="col-md-4" *ngIf="!_currentUserAllRoles">
        <div class="col-md-12 row">
            <div class="col-md-1"></div>
            <button type="button" class="col-md-4 buttonNeltivi1" routerLink="connect">Login</button>
            <button type="button" class="col-md-4 buttonNeltivi1" routerLink="connect">Sign Up</button>
            <div class="col-md-1"></div>
        </div>
    </div>

    <ul class="navbar-nav mr-auto" *ngIf="_currentUserAllRoles">
        <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle style="color: white;font-size: 1.3em;">{{_currentUserAllRoles.email}}</a>
            <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
                <a class="dropdown-item" routerLink='profil'>Profil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout($event)">Déconnection</a>
            </div>
        </li>
    </ul>
  
</nav>

<!-- main app container -->
<div class="" style="min-height:100vh; background: linear-gradient(180deg,  #9240b2 0%,rgb(26,38,114) 80%);">
    <router-outlet></router-outlet>
</div>

<div class="dock-container">
    <nav class="dock">
        <ul>
            <li>
                <span i18n>Series</span>
                <a routerLink="series"><img src="../assets/Images/Menu/monitor (1).png" /></a>
                <!-- <h2><a  rel="noopener" href="series" i18n>Series</a></h2> -->
            </li>

            <li>
                <span i18n>Films</span>
                <a routerLink="films"><img src="../assets/Images/Menu/music-and-multimedia.png" /></a>
                <!-- <h2><a rel="noopener" href="films" i18n>Films</a></h2> -->
            </li>

            <li *ngIf="_currentUserAllRoles">
                <span i18n>Coming Soon</span>
                <a routerLink="ComingSoon"><img src="../assets/Video-icon.png" /></a>
                <!-- <h2><a rel="noopener" href="ComingSoon" i18n>Coming Soon</a></h2> -->
            </li>

            <li *ngIf="_currentUserAllRoles">
                <span i18n>To watch</span>
                <a routerLink="ToWatch"><img src="../assets/Video-icon.png" /></a>
                <!-- <h2><a rel="noopener" href="ToWatch" i18n>To watch</a></h2> -->
            </li>


            <li *ngIf="_currentUserAllRoles">
                <span i18n>Settings</span>
                <a routerLink="settings"><img src="../assets/Video-icon.png" /></a>
                <!-- <h2><a rel="noopener" href="settings" i18n>Settings</a></h2> -->
            </li>


        </ul>
    </nav>
</div>