<div class="row">
    <div class="col-sm-5">

        <app-connection-login [formBuilder]="formBuilder" [authenticationService]="authenticationService" [returnUrl]="returnUrl" [router]="router"></app-connection-login>

        <div class="social-login">
            <h3>...or login with:</h3>
            <div class="social-login-buttons">
                <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                    <i class="fa fa-facebook"></i> Facebook
                </a>
                <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                    <i class="fa fa-google-plus"></i> Google +
                </a>
            </div>
        </div>

    </div>

    <div class="col-sm-1 middle-border"></div>
    <div class="col-sm-1"></div>

    <div class="col-sm-5">

        <app-connection-register [formBuilder]="formBuilder" [authenticationService]="authenticationService" [returnUrl]="returnUrl" [router]="router"></app-connection-register>

    </div>
</div>