<div style="height:100vh ;background: url('../../assets/Images/Fond/Background-transparent.png') no-repeat center/100%;">
    <div class="col-md-12 row" style="height:15vh;padding: 2% 0 0 5%;">

    </div>
    <div class="row col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-3">

            <app-connection-register [formBuilder]="formBuilder" [authenticationService]="authenticationService" [returnUrl]="returnUrl" [router]="router"></app-connection-register>

        </div>


        <div class="col-md-2"></div>

        <div class="col-md-3">

            <app-connection-login [formBuilder]="formBuilder" [authenticationService]="authenticationService" [returnUrl]="returnUrl" [router]="router"></app-connection-login>


        </div>


        <div class="col-md-2"></div>
    </div>
</div>