.PosterImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.posterLoaded {
    max-width: 100%;
    max-height: 100%;
}

.posterLoading {
    max-width: 40%;
    max-height: 40%;
    margin: auto;
}