<div style="height: 100vh;width:100vw;overflow: hidden;padding-top: 15vh; ">
    <!-- <div class="col-md-12 row" style="height:15vh;padding: 2% 0 0 5%;">
        <div class="col-md-8" style="text-align: left;height: 100%;">
            <img src="../../assets/Images/Logo/Logo_NTV.png" alt="" style="height: 100%;">
        </div>

        <div class="col-md-4">
            <div class="col-md-12 row">
                <div class="col-md-1"></div>
                <button type="button" class="col-md-4 buttonNeltivi1">Login</button>
                <div class="col-md-2"></div>
                <button type="button" class="col-md-4 buttonNeltivi1">Sign Up</button>
                <div class="col-md-1"></div>
            </div>

        </div>
    </div> -->

    <div class="col-md-12 row" style="height: 60vh;padding: 2%;">
        <div class="col-md-2">

        </div>
        <div class="col-md-4" style="vertical-align: middle;color: white;padding: 0px 3%;text-align: left;margin: auto;">
            <h1 style="color: white;font-weight: bold;font-size: 56px;white-space: normal;line-height:110%;">Bienvenue sur NELTIVI</h1>

            <div style="margin:20px 0;line-height:140%;font-size: 17px;">
                La plateforme qui vous facilite la vie et vous donne accès à des centaines de milliers de films, séries, documentaires, dessin animés etc... En un seul compte, en une seule connexion !

            </div>

            <div class="col-md-12 row" style="padding: 3% 0;">
                <div class="col-md-1"></div>
                <button type="button" class="col-md-5 buttonNeltivi2" style="color:rgb(26,38,114);">
                    Start here
                    </button>
                <div class="col-md-1 "></div>
                <button type="button" class="col-md-5 buttonNeltivi2" style="color:#9240b2;">
                        plus d'infos <a></a>
                        </button>
            </div>
        </div>

        <div class=" col-md-4 " style="height: 100%; ">
            <img src="../../assets/Images/illustration ciné@3x-8.png " alt=" " style="height: 100%; ">
        </div>
        <div class="col-md-2 ">

        </div>
    </div>

    <div style="position: fixed;bottom: 0;left: 0;right: 0;background: white;height: 10vh;border-radius: 500% 500% 0 0; ">

    </div>
</div>